:root{
  --font1:'Plus Jakarta Sans';
}
body{
  font-family: var(--font1);
}
.abtH {
  background-image: url(/pages/images/about.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pizzaSubMenu {
  top: -400px;
  left: -450px;
  transition: all 0.3s linear;
}

.pizzaMenu:hover .pizzaSubMenu {
  top: 60px !important;
}
.bannerImg{
  position: relative;
}
.roundImg{
  position: absolute;
  top: 87%;
  left: 45%;
}
/* .cardImg{
  border-radius: 50%;
  width: 50px;
  padding: 40px;
} */

.dishBg{
  background-image: url(../images/bg-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.dishDsc {
  top: 70%;
}

.dishImg {
  transition: all 0.3s linear;
}

.dishImg:hover {
  transform: scale(1.1);
}

.dishSec {
  opacity: 0.8;
}


/* menu */
.menuH {
  background-image: url(/pages/images/chef.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* reservation */
.resH {
  background-image: url(/pages/images/reservation.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.roundImg{
  animation: rotateIt-2 infinite 14s linear;
}
@keyframes rotateIt-2{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.caroImg{
  background-image: url(../images/video-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 400px;
  /* padding: 450px; */
}

.bookTable{
  font-size: 60px;
  font-weight: 400;
  /* line-height: 200px; */

}
.mainText{
  top: 70%;

}


@media (min-width: 992px) {
  .caroImg {
    padding: 450px;
  }
    .bookTable {
      font-size: 200px;
    }
}